body{
     background: linear-gradient(
  rgba(5,0,0,0.8),
  rgba(5,0,0,0.8)
  ),url("dbz.jpg");
     color:white;
     font-family: 'Handlee', cursive;
     font-size:20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    box-shadow: 0.5px 0.5px black, 0.5em 0 0.7em black, -0.5em 0 0.7em black;
}
p{
    font-family: 'Handlee', cursive;
    color: white;
    text-align: center;
        box-shadow: 0.5px 0.5px blueviolet, 0.5em 0 0.7em blueviolet, -0.5em 0 0.7em blueviolet;
}
label{
    color : white;
}